/* #scale {
  position: relative;
  opacity: 1;
  pointer-events: visible;
}
#scales {
  position: relative;
  opacity: 1;
  pointer-events: visible;
} */
.table a {
  margin-right: 10px;
  margin-top: 15px;
}
.darken-1 {
   border-radius: 3px!important; 
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}